<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/article-period.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>
<div class="wrapper">
    <h1 class="title">Ancient History Chanel Articles By Period</h1>
    <h2 style="color: #117a8b;" class="title period">Ancient Egypt</h2>
    <div class="subhead">Ancient Egypt, civilization in northeastern Africa that
        dates from the 4th millennium BCE. Its many achievements,
        preserved in its art and monuments, hold a fascination that continues to
        grow as archaeological finds expose its secrets.
        This articles focuses on Egypt from its prehistory through its unification
        under Menes (Narmer) in the 3rd millennium BCE—sometimes used as a reference
        point for Egypt’s origin—and up to the Islamic conquest in the 7th century CE.
        For subsequent history through the contemporary period, see Egypt.
        For a list of ancient Egyptian dynasties, see list of dynasties of ancient Egypt.
        For a list of Egyptian kings from the
        Predynastic through Ptolemaic periods, see list of pharaohs of ancient Egypt.</div>

    <div class="content">
        <div class="collumns">
            <div class="collumn">
                <div class="head"><span class="headline hl3">When darkness overspreads my eyes</span>
                    <p><span class="headline hl4">by JOHANN WOLFGANG VON GOETHE</span></p></div>
                When, while the lovely valley teems with vapour around me,
                and the meridian sun strikes the upper surface of the impenetrable
                foliage of my trees, and but a few stray gleams steal into the inner
                sanctuary, I throw myself down among the tall grass by the trickling
                stream;<p>and, as I lie close to the earth, a thousand unknown plants are
                noticed by me: when I hear the buzz of the little world among the stalks,
                and grow familiar with the countless indescribable forms of the insects

                and flies, then I feel the presence of the Almighty!</p></div>
            <div class="collumn">
                <div class="head"><span class="headline hl5">Give people courage</span>
                    <p><span class="headline hl6">The crowd seemed to grow</span></p></div>
            </div>

        </div>
    </div>
</div>
<!-- Wrapper Ends -->


<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>