<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >



<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Ancient History Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jost" data-tag="font"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/reset-css.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
</head>

<body>

<div>

    <div class="home-container">
<!--        <div  class="logged-user"> <br>-->
<!--            Welcome, <th:block sec:authentication="name"></th:block>!-->
<!--        </div>-->
        <div class="home-navbar">
            <header th:fragment="nav" data-role="Header" class="home-header max-width-container">
                <div sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin Panel
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/statistic">Statistics</a>
                        <a class="dropdown-item" href="/articles/add">Add article</a>
                        <a class="dropdown-item" href="#">New</a>
                    </div>
                </div>

                <div class="home-navbar1">
                    <th:block >
                        <div  class="home-container01">
                            <form action="https://www.google.com/search" method="get">
                                <input type="text" name="s" id="search-input" placeholder="Search AH portal" class="home-input"/>
                            </form>

                        </div>

                        <div class="home-middle">
                            <div class="home-left">
                                <a th:href="@{/}" class="navbar-link">HOME</a>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/users/login}" class="navbar-link">LOGIN</a>
                                <a sec:authorize="!isAuthenticated()" class="navbar-link" th:href="@{/users/subscribe}">SUBSCRIBE</a>
<!--                                <a sec:authorize="isAuthenticated()"  class="navbar-link" th:href="@{/articles/add}">ADD ARTICLE</a>-->
                            </div>
                        </div>

                    </th:block>


<!--                        <div class="home-container01">-->
<!--                            <input type="text" placeholder="Search AH portal" class="home- input"/>-->
<!--                        </div>-->
                        <th:block sec:authorize="isAuthenticated()">
                        <div class="home-middle">

                            <div class="home-left">
<!--                                <a th:href="@{/}" class="navbar-link">HOME</a>-->
                                <a  class="navbar-link"   th:href="@{/users/profile}">PROFILE</a>
<!--                                <a class="navbar-link" >-->
<!--                                    <form th:action="@{/logout}" method="post">-->
<!--                                        <button type="submit" class="nav-link">Logout</button>-->
<!--                                    </form>-->
<!--                                </a>-->
                                <a class="navbar-link"
                                   th:method="post"
                                   th:href="@{/logout}">LOGOUT</a>
                                <a class="navbar-link"  th:href="@{/articles/add}">ADD NEW ARTICLE</a><br>
<!--                                <span> <a href="/">ADMIN</a></span>-->
                            </div>
                        </div>


                    </th:block >
                    <span class="navbar-logo-title">
                    <a th:href="@{/}" style="font-weight: bold" class="navbar-logo-title">ANCIENT HISTORY PORTAL</a>

                    <br/>
                    <span style="font-size: x-small;margin-left: 3.5rem">LEARN ABOUT THE WORLD OF ANTIQUITY</span>
                    </span>
                    <div class="home-right">
                        <a th:href="@{/about}" class="navbar-link">ABOUT</a>
                        <a class="navbar-link">BLOG</a>
                        <a class="navbar-link">CONTACT</a>
                    </div>
                </div>

            </header>

            <footer th:fragment="footer" class="home-footer1">
                <div class="home-container09">
                    <h3 class="home-text32 Heading-3">ANCIENT WORLD</h3>
                    <span class="home-text33">
                <span>5000 VELIKO TARNOVO</span>
                <br />
                <span>BULGARIA</span>
              </span>
                    <span class="home-text36">(359) 899 199 149</span>
                    <span class="home-text37">contact@AHISTORY.com</span>
                </div>
                <div class="home-links-container">
                    <div class="home-container10">
                        <span class="home-text38">Categories</span>
                        <a href="#" class="home-text39">Collections</a>
                        <a href="#" class="home-text40">Desks</a>
                        <a href="#" class="home-text41">Articles</a>
                        <a href="#" class="home-text42">Time Periods</a>

                    </div>
                    <div class="home-container11">
                        <span class="home-text45">Company</span>
                        <a href="#" class="home-text46">Post</a>
                        <a href="#" class="home-text48">Specials</a>
                        <a href="#" class="home-text49">About</a>
                        <a href="#" class="home-text50">Blog</a>
                    </div>
                    <div class="home-container12">
                        <span class="home-text51">Resources</span>
                        <a href="#" class="home-text52">Contact us</a>
                        <a href="#" class="home-text53">Article</a>

                    </div>
                </div>
            </footer>
        </div>


</body>
</html>