.info{
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: x-large;
    font-family: "Times New Roman";
    font-style: italic;
    margin: 4rem 3rem 2rem 3rem;


}
.about-language{
    padding: 2rem 4rem 2rem 4rem;

}
.wrapper{

    border-radius: 8px;
    border: #555555;

}