body{
    background-image: url("https://images.unsplash.com/photo-1704309500721-2c078e7ea7cc?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    margin-top: 6rem;
}