body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin:   150px 1px auto 1px ;
    /*padding: 0;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220vh;
    width: 230vh;
padding-top: 2rem;

}

.main {
    background-color: #ebebeb;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    width: 300px;



}

.main h2,h1,h3 {
    color: #4caf50;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}
input:valid{
    border: springgreen solid 2px;
}
input:invalid{
    border: darkred solid 2px;
}

input:invalid:required{
    background-image: linear-gradient(to right,pink,purple);
}