<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<link rel="stylesheet" href="/css/reset-css.css">
<head th:replace="fragments/commons::head">

</head>
<header th:replace="fragments/commons::nav"></header>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Upps, the thingy that you are looking for is no longer here!</h5>
  <h5 class="text-center text-white mt-5">We are veeeery sorry.</h5>
  <img th:src="@{/static/images/broken.jpg}" alt="Broken plate">
  <br/>
  <a th:href="@{/}">Go home...</a>
</div>

<div>
  <footer th:replace="fragments/commons::footer">

  </footer>
</div>

</body>
</html>
