<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<link rel="stylesheet" href="/css/reset-css.css">
<head th:replace="fragments/commons::head">

</head>
<header th:replace="fragments/commons::nav"></header>

<div class="container-fluid">
  <h5 class="text-center text-white mt-5">Upps, something went terribly wrong!</h5>
  <h5 class="text-center text-white mt-5">We are veeeery sorry and we are working to resolve the problem.</h5>
  <img th:src="@{/static/images/brokenCastle.jpg}" alt="Broken castle">
</div>

<div>
  <footer th:replace="fragments/commons::footer">

  </footer>
</div>

</body>
</html>
