<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>

<div  class="info">
    <div></div>
    <div class="wrapper">
        <h2 class="title" ><a class="top-2" th:href="@{/}">&copy;Ancient History Chanel</a> </h2>
        <p class="about-language">
            Our Vision
            Studying history helps us gain a more nuanced understanding of the world we live in today.
            Our knowledge and interpretation of history shape how we define ourselves as nations and as cultures,
            and it influences how we see and interact with other cultures.
            We help people across the globe gain a deeper,
            fundamental knowledge of our interconnected human past in order to create curious,
            open-minded, and tolerant societies in the future.
            Throughout the course of human history, great civilizations have been built, thrived, and declined.
            Many of these have been well documented by historians, and later civilizations have been able to track their rise and fall.
            But some seem to have suddenly disappeared. Some civilizations left clues as to what caused their demise,
            while the loss of others remains a mystery. Here are some of these puzzling lost civilizations.
        </p>

          </div>
    <div>

    </div>
</div>

<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">

</footer>
</html>