<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>

<div class="info">
    <div></div>
    <div >
        <h2 class="title">Ancient History Chanel</h2>
        <p class="about-language">
            Our Vision
            Studying history helps us gain a more nuanced understanding of the world we live in today.
            Our knowledge and interpretation of history shape how we define ourselves as nations and as cultures,
            and it influences how we see and interact with other cultures.
            We help people across the globe gain a deeper,
            fundamental knowledge of our interconnected human past in order to create curious,
            open-minded, and tolerant societies in the future.
        </p>

          </div>
    <div>

    </div>
</div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">

</footer>
</html>