<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/add-article.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::nav">
    </header>

    <!-- Top Container -->
    <div class="form-style-5 ">
        <form
                id="add-route-form" class="w-50 rounded text-white mt-5"
                          th:action="@{/articles/add}"
                         th:method="post"
                        th:object="${articleAddBindingModel}"
                          enctype="multipart/form-data"
                    >
                        <fieldset>
                            <legend><span class="number">1</span> Author Info</legend>
                            <input th:field="*{author}"
                                   th:errorclass="'is-invalid bg-danger'"
                                    type="text" name="author"
                                    placeholder="Your Name *">
                            <small th:each="error :${#fields.errors('author')}"
                                   th:text="${error}"
                                   th:class="'invalid-feedback text-danger'" id="author"> Error message!</small>



                            <textarea name="field3" placeholder="About yourself"></textarea>


                            <legend><span class="number">2</span> Article Text</legend>
                            <label for="period">Period:</label>
                            <select th:field="*{period}"
                                    th:errorclass="'is-invalid bg-danger'"
                                    id="period" name="period">
                                <optgroup label="period">
                                    <option value="">Select period</option>
                                    <option th:each="p:${T(HistoryAppGradleSecurity.model.enums.PeriodEnum).values()}"
                                            th:value="${p}" th:text="${p}"
                                            value="egypt">Egypt</option>
                                </optgroup>
                            </select>
                            <small th:each="error: ${#fields.errors('period')}"
                                   th:text="${error}"
                                   th:class="'invalid-feedback text-danger'"> error message</small>

                            <!--                            <select id="category" name="field4">-->
                            <!--                                <optgroup label="category">-->
                            <!--                                    <option th:each="c:${T(HistoryAppGradleSecurity.model.enums.CategoryNameEnum).values()}"-->
                            <!--                                            th:value="${c}" th:text="${c}"-->
                            <!--                                            value="egypt">Egypt</option>-->
                            <!--                                </optgroup>-->
                            <!--                            </select>-->
                            <div class="form-group p-3" style="margin-bottom: 1rem">
                                <label class="p-2" for="categories">Categories:</label>
                                <input th:each="category: ${T(HistoryAppGradleSecurity.model.enums.CategoryNameEnum).values()}" class="m-3"
                                       th:field="*{categories}"
                                       type="checkbox" name="categories" id="categories"
                                       th:text="${#strings.toLowerCase(category)}"
                                       th:value="${category}">
                                <br>
                                <!--                            <small th:each="error: ${#fields.errors('category')}"-->
                                <!--                                   th:text="${error}"-->
                                <!--                                   th:class="'invalid-feedback text-danger'"> error message</small>-->
                            </div>
                        </fieldset>

            <fieldset>
                <input th:field="*{title}"
                       th:errorclass="'is-invalid bg-danger'"
                       minlength="5"
                       type="text" name="title"
                       placeholder="Article Title">
                <small th:each="error :${#fields.errors('title')}"
                       th:text="${error}"
                       th:class="'invalid-feedback text-danger'"  id="inputTitleError"> Title must be more then 5 letters!</small>



                <textarea th:field="*{content}"
                                      th:errorclass="'is-invalid bg-danger'"
                                      minlength="10"
                                    class="article" name="article"
                                      placeholder=" Your Article Content"></textarea>
                            <small th:each="error :${#fields.errors('content')}"
                                   th:text="${error}"
                                   th:class="'invalid-feedback text-danger'"
                                   id="inputContentError"> Content must be more then 10 letters!</small>
                        </fieldset>
                        <input type="submit" value="Add article" />
                    </form>
                </div>





    <footer th:replace="fragments/commons::footer">

    </footer>
</div>
</body>
</html>
