<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
</head>
<link rel="stylesheet" href="/css/articles.css">
<link rel="stylesheet" href="/css/reset-css.css">

<!-- Navigation -->
<body>

<div class="wrapper">
    <header th:replace="fragments/commons::nav"></header>
    <div class="site compact" id="articlesList">
<!--        picture-->
        <div class="slide">

            <div class="ar-16x9">
                <img src="https://images.unsplash.com/photo-1439066615861-d1af74d74000?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=600&q=80" alt="">
            </div>
            <h3 style="color: #0c5460;border-bottom: #491217">Search articles</h3>
            <div style="border-radius: 4px;border: solid #040505;"
                 class="mt-5 col-sm-12 my-auto align-self-center">
                <input id="searchInput" class="form-control mr-sm-2 w-50" type="search"
                       placeholder="Enter article name" aria-label="Search">
            </div>
        </div>
        <!--        aticle main-->
        <h3 class="mySticky bg-gray text-dark rounded">
            <span th:text="#{nav_bar_articles_count}">Articles count:</span>  <span th:text="${articles.size()}"></span></h3><br><br>
       <th:block th:each="a: ${articles}">
           <img th:src="${a.pictureUrl}" alt="Title image"><br><br>
        <header class="site-header">
            <p  class="site-title">
                <a th:text="${a.title}" ></a>
            </p>

            <nav class="main-nav">
                <ul>

                </ul>
            </nav>
        </header>

        <main class="site-content">

            <article class="post">
                <header class="post-header">
                    <h2 > <span th:text="#{nav_bar_articles_period}">Ancient Period:</span>  <span th:text="${a.period}"></span></h2><br>
                    <h2 > <span >Category:</span>  <span th:text="${a.category}"></span></h2>
                </header><br>
                <section class="post-content">
                    <p><span th:text="${a.content}"></span></p><br><br>
                    <a th:href="@{/articles/details/{id}(id=${a.id})}" class="btn">Learn More</a><br>
                </section> <br>
                <footer class="post-footer">
                    <p>Published by, <span th:text="${a.author}"></span></p><br><br>
                </footer>
            </article>

        </main>

        <aside class="sidebar">

        </aside>
       </th:block>

    </div>

    </div>
</body>
<footer th:replace="fragments/commons::footer">
    <script th:src="@{js/search-bar.js}"></script>
</footer>
</html>