<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">
    <link rel="stylesheet" href="/css/reset-css.css">
</head>
<body>
<div class="wrapper">
    <!-- Navigation -->
    <header th:replace="fragments/commons::nav"></header>
    <h3 class="mySticky bg-gray text-dark rounded">Articles count: <span th:text="${articles.size()}"></span></h3>
    <section th:each="a : ${articles}" th:object="${a}" class="article">
        <img th:src="*{pictureUrl}" alt="Title image">
        <div>
            <h2 th:text="*{title}">Your Article</h2>
            <h2 th:text="*{title}">Your Article</h2>
            <p th:text="*{content}"></p>
            <a th:href="@{/articles/details/{id}(id=*{id})}" class="btn">Learn More</a>
            <form
                    th:action="@{/a/{id}(id=${a.id})}"
                    th:method="DELETE"
            >
                <button type="submit" class="ml-3 text-danger" >Remove</button>
            </form>
        </div>

    </section>
</div>

<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">

</footer>
</html>