<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragments/commons::head">
</head>
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>

<div class="home-links-container">
    <div class="home-container10">
        <span class="home-text38">Categories</span>
        <a href="#" class="home-text39">Collections</a>
        <a href="#" class="home-text40">Desks</a>
        <a href="#" class="home-text41">Articles</a>
        <a href="#" class="home-text42">Time Periods</a>

    </div>

<div class="home-footer">
    <div class="max-width-container">
        <footer th:replace="fragments/commons::footer"></footer>
    </div>
</div>
</body>

</html>