<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet" href="/css/reset-css.css">
<body>
<header th:replace="fragments/commons::nav">
</header>

<div class="info">
    <div></div>
    <div >
        <h2 class="title">Ancient History Chanel</h2>
        <p class="about-language">

        </p>

    </div>
    <div>

    </div>
</div>

</div>
<!-- Wrapper Ends -->
</body>
<footer th:replace="fragments/commons::footer">

</footer>
</html>