<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="fragments/commons::head">

</head>
<link rel="stylesheet" href="/css/subscribe.css">
<link rel="stylesheet" href="/css/reset-css.css">
<!-- Navigation -->
<header th:replace="fragments/commons::nav">

</header>
<body>
<div class="main">
    <h2>Registration Form</h2>
    <form th:object="${userSubscribeBindingModel}"
          th:action="@{/users/subscribe}"
          th:method="POST">
        <label for="username">Username:</label>
        <input
                th:field="*{username}"
                th:errorclass="is-invalid"
                required minlength="3" maxlength="20"
                type="text"
                id="username"
                name="username"/>
        <small th:if="${userExistsError}" id="usernameUniqueError"
               class=" bg-danger rounded">Username is already occupied</small>
        <small th:each="e :${#fields.errors('username')}" th:text="${e}"
               id="usernameError"
               class="invalid-feedback bg-danger rounded">Username length must be more than 3 characters</small>



        <label for="inputFullName">Full Name:</label>
        <input
                th:field="*{fullName}"
                th:errorclass="is-invalid"
                required minlength="3" maxlength="20"
                type="text"
                id="inputFullName"
                name="fullName"/>
        <small th:each="e :${#fields.errors('fullName')}" th:text="${e}"
                id="fullNameError" class="invalid-feedback
        form-text bg-danger rounded">Full name length must be more than 3 characters</small>

        <label for="email">Email:</label>
        <input
                th:field="*{email}"
                th:errorclass="is-invalid"
                type="email"
                id="email"
                name="email"
                required/>
        <small th:each="e :${#fields.errors('email')}" th:text="${e}"
                id="emailError" class="invalid-feedback  form-text bg-danger
            rounded">Must be valid email</small>
        <label for="password">Password:</label>
        <input th:field="*{password}"
               th:errorclass="is-invalid"
               required minlength="5" maxlength="20"
               type="text"
               id="password"
               name="password"/>
<!--               pattern="^(?=.*\d)(?=.*[a-zA-Z])(?=.*[^a-zA-Z0-9])\S{8,}$"-->
<!--               title="Password must contain at least one number,-->
<!--                          one alphabet, one symbol, and be at-->
<!--                          least 5 characters long"/>-->
        <small th:each="e :${#fields.errors('password')}" th:text="${e}"
                id="passwordError" class="invalid-feedback  form-text bg-danger rounded">
            Password length must be between 5 and 20 characters and passwords should match.</small>
        <label for="confirmPassword">Re-type Password:</label>
        <input th:field="*{confirmPassword}"
               required minlength="5" maxlength="20"
               th:errorclass="is-invalid"
               type="text"
               id="confirmPassword"
               name="confirmPassword"/>
        <small th:each="e :${#fields.errors('password')}" th:text="${e}"
                id="confirmPasswordError" class="invalid-feedback  form-text bg-danger rounded">
            Password length must be between 5 and 20 characters and passwords should match.</small>
        <label for="age">Age:</label>
        <input th:field="*{age}"
               min="0" max="90"
               type="number"
               id="age"
               name="age"
               required/>

        <label for="gender"
        >Gender:</label>
        <select
                id="gender"
                name="gender"
                required>
            <option value="male">
                Male
            </option>
            <option value="female">
                Female
            </option>
            <option value="other">
                Other
            </option>
        </select>

        <button type="submit">
            Submit
        </button>
    </form>
</div>



<footer th:replace="fragments/commons::footer">

</footer>
</body>
</html>


